    <!-- 黒背景 + 白文字ベースのCSS -->
    <link rel="stylesheet" href="styles.css" />
    <!-- サニタイズ -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2/dist/purify.min.js"></script>
    <!-- zip -->
    <script src="https://cdn.jsdelivr.net/npm/pako/dist/pako.min.js"></script>
    <!-- 背景管理用 -->
    <script type="module" src="js/background.js"></script>
    <!-- 取説 -->
    <script type="module" src="js/common.js"></script>
    <script type="module" src="js/indexedDB.js"></script>
    <script type="module" src="js/multiModal.js"></script>
    <script type="module" src="js/geminiApiClient.js"></script>
    <script type="module" src="js/background.js"></script>
    <script type="module" src="js/stabilityApiClient.js"></script>
    <script type="module" src="js/avatar.js"></script>
    <script type="module" src="js/warehouse.js"></script>
    <script type="module" src="js/tutorialData.js"></script>
    <script type="module" src="js/tutorialManager.js"></script>
    <script type="module" src="js/universalSaveLoad.js"></script>
    <script type="module" src="js/exportImportMulti.js"></script>